<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles del Carrito</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-4">
        <h1>Carrito ID: {{cart._id}}</h1>
        <ul class="list-group">
            {{#each cart.products}}
            <li class="list-group-item">
                <strong>Producto:</strong> {{this.product.name}} <br>
                <strong>Cantidad:</strong> {{this.quantity}} <br>
                <strong>Precio:</strong> ${{this.product.price}}
            </li>
            {{/each}}
        </ul>
        <a href="/products" class="btn btn-secondary mt-3">Volver</a>
    </div>
</body>
</html>