<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Productos</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Lista de Productos</h1>
        <ul class="list-group">
            {{#each products}}
                <li class="list-group-item">
                    <h5>{{this.name}}</h5>
                    <p>{{this.description}}</p>
                    <p>Precio: ${{this.price}}</p>
                    <a href="/products/{{this._id}}" class="btn btn-primary">Ver Detalles</a>
                    <button class="btn btn-success">Agregar al Carrito</button>
                </li>
            {{/each}}
        </ul>
    </div>
</body>
</html>