<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <h1>{{title}}</h1>
    <ul id="product-list">
        {{#each products}}
            <li>{{this.title}} - {{this.price}}</li>
        {{/each}}
    </ul>

    <h2>Agregar Producto</h2>
    <form id="addProductForm">
        <input type="text" id="productTitle" placeholder="Título" required>
        <input type="number" id="productPrice" placeholder="Precio" required>
        <button type="submit">Agregar Producto</button>
    </form>

    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io();

        // Actualizar la lista de productos cuando se recibe una actualización
        socket.on('updateProducts', (products) => {
            const productList = document.getElementById('product-list');
            productList.innerHTML = '';
            products.forEach(product => {
                const li = document.createElement('li');
                li.textContent = `${product.title} - ${product.price}`;
                productList.appendChild(li);
            });
        });

        // Formulario para agregar un nuevo producto
        const form = document.getElementById('addProductForm');
        form.addEventListener('submit', (event) => {
            event.preventDefault();

            const newProduct = {
                title: document.getElementById('productTitle').value,
                price: document.getElementById('productPrice').value
            };

            socket.emit('addProduct', newProduct);
        });
    </script>
</body>
</html>